# Ignore data folder
data/*


# Ignore all files with .pbs ending
*.pbs
*.pt

mixtral.sh
mixtral_copy.sh

# Ignore output folder
output/*

wandb/*

result/*

# Ignore DS_Store
.DS_Store
/.DS_Store


# Ignore folders starting with msiexp
msiout*/
wslout*/
# Ignore files starting with .__
.__*
._*


# Ignore folders starting with msiexp
cifar*/


/__pycache__/
__pycache__/
__pycache__/*

msi_test_model_clm.bash


*.nsys-rep
*.qdstrm
*.pyc
result/*
